<!--3.14-->
<!--<input type="text" class="form-control" [(ngModel)]="inputCarName" >-->
<!--<hr>-->
<!--<input type="text" class="form-control" [(ngModel)]="inputCarYear" >-->
<!--<hr>-->
<!--<button class="btn btn-primary" (click)="addCar()">ADD CAR</button>-->
<!--<p *ngIf="addCarStatus; else statusAddedTrue">Car added</p>-->
<!--<ng-template #statusAddedTrue>-->
<!--  <p>Car doesn't added</p>-->
<!--</ng-template>-->
<p>Adding car form</p>
<hr>
<app-add-car (addCarDataToArray)="updateCarDataArray($event)"></app-add-car>
<br>
<div class="list-group">
  <app-car class="list-group-item" *ngFor="let carData of carsDataArray" [carDataCarComponent]="carData">
    <h4 #carHeading class="list-group-item-heading">Name: {{ carData.name }}</h4>
    <p class="list-group-item-text">Year: {{ carData.year }}</p>
  </app-car>
</div>

<!--<ul>-->
<!--  <li *ngFor="let carData of carsDataArray">-->
<!--    <p>{{ carData.name }} - {{ carData.year }}</p>-->
<!--  </li>-->
<!--</ul>-->
