<input type="text" class="form-control" [(ngModel)]="inputCarName" >
<hr>
<input type="text" class="form-control" [(ngModel)]="inputCarYear" >
<hr>
<button class="btn btn-primary" (click)="addCar()">ADD CAR</button>
<p *ngIf="addCarStatus; else statusAddedTrue">Car added</p>
<ng-template #statusAddedTrue>
  <p>Car doesn't added</p>
</ng-template>
<br>
<app-car *ngFor="let carData of carsDataArray" [carDataCarComponent]="carData"></app-car>

<!--<ul>-->
<!--  <li *ngFor="let carData of carsDataArray">-->
<!--    <p>{{ carData.name }} - {{ carData.year }}</p>-->
<!--  </li>-->
<!--</ul>-->
